body {
    margin: 0;
    font-family: sans-serif;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.uppercase{
    text-transform: uppercase;
}
.navArea {
    margin-top: 10px
}

.buttons-nav {
    display: flex;
    justify-content: flex-end;
}

.navArea a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #6f6f70;
}
a {
    text-decoration: none;
 
    color: white;
}
.capitalize{
    text-transform: capitalize;
}
.navArea a:hover {
    color: #a7a7aa;
}

a:focus {
    outline: none !important;
}

li {
    text-decoration: none;
    text-transform: none;
}

.green {
    color: #48DA9B
}

.grid-container {
    width: 1100px;
    margin: auto;
    margin-top: 2rem
}

.box {
    background-color: #202020;
    color: #fff;
    padding: 12px;

}

.grid-Area-Main {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #403F44;
    color: #444;
}

.gridArea-1 {
    grid-column: 1/span 1
}

.gridArea-2 {
    grid-column: 2/span 2
}

.gridArea-3 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}

.gridArea-3 .gridArea3-Elements {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.img-container {
    display: flex;
    justify-content: center;
}

.gridArea-4 {
    grid-column: 2/span 2
}

.gridArea-5 {
    grid-column: 1/span 3
}

.navArea {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    align-content: end;
}

.profileImage {
    margin: auto;
}

.title {
    border-bottom: 3px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.subTitle{
    color: rgb(70, 138, 226);
    text-transform: capitalize; 
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom: 3px dotted rgb(70, 138, 226);;
    width:40%;
    margin-top:.5rem

}

.blueTitle{
    color: rgb(49, 124, 223);
}
.smallTitle{
    font-size: 1rem;
}
/*line*/

.horizontal_line{ 
	height: 26px;
	position: relative;	
}
	.line_left,
	.line_right{
		border-top: 1px solid #434247;
		width: 305px;
		margin-top: 13px;
	}
	.line_left{
		float: left;
	}
	.line_right {
		float: right;
	}
	.left_circle, 
	.central_circle, 
	.right_circle {
		background: rgb(69,68,73);
		background: rgba(255,255,255, 0.15);
		position: absolute;
		border-radius: 50px;
	}
	.left_circle, 
	.right_circle {
		width: 13px;
		height: 13px;
		top: 7px;
	}
	.left_circle{
		left: 314px;
	}
	.central_circle{
		width: 26px;
		height: 26px;		
		top: 0px;
		left: 322px;
	}
	.right_circle{
		left: 343px;
	}